// LMS base styles

// removing the outline on any element that we make programmatically focusable
[tabindex="-1"] {
    outline: none;
}

.window-wrap {
    background-color: $lms-background-color;
}

.content-wrapper {
    @include span(12, none);
    margin: 0 auto;

    @media print {
        padding-bottom: 0;
    }
}

// Support .sr as well as .sr-only for backward compatibility
.sr {
    @extend .sr-only;
}

.site-status {
  padding: ($baseline/2);
  @include linear-gradient(top, $shadow-l1, rgba(0, 0, 0, .0));
  background-color: $site-status-color;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .3) inset;
  font-size: 14px;

  .icon {
    @include margin-right($baseline / 2);
    @include float(left);
    color: $white;
    font-size: 18px;
  }

  .inner-wrapper {
    margin: auto;
    max-width: 1180px;
    min-width: 760px;
  }

  p {
    margin-bottom: 0;
    line-height: 1.3;
    color: $white;
  }
}
